*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #CCCC;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .cert-container{
    align-items: center;
  }
  .cert{
    padding-top: 50px;
    text-align:center;
    line-height: 30px;
  }
