*{
    box-sizing: border-box;
}
body{
    background-color: #CCCC;
}
.homebutton{
float: left;
    padding: 15px;
}
.navButtons{
    float: right;
    padding:15px;
}
.nav {
    font-family: Arial;
    font-size: 25px;
    background-color: white;
    position: fixed;
    top: 0%;
    width:100%;
    left: 0%;
}
.info {
    text-align: center; 
    padding-top: 100px; 
    left:0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.portfolio_pic{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    border-radius: 25%;
}
.languages{
    border-style:solid;
    background-color: white;
    padding: 10px;
    float: left;
    margin: 1%;
    text-align: center;
}
  .lan_pic{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 100px;
    height: auto;
  }
#intro{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:2%;
    padding-bottom:2%;
    left:0%;
}
.projects{
    text-align: center;
}
.skills{
    display:flex;
    flex-wrap:wrap;
}
#farahandsons{
    align-items: center;
    width: 50%;
    height: auto;
}
#footer-container{
    background-color: white;
    display: flex;
    column-gap: 2rem;
    text-wrap: wrap;
}
.section{
    flex-grow: 1;
    width: 100%;
    max-width:1280px;
    padding: 15px;;
    margin: auto;
}

