body{
    background-color: #CCCC;
}
.homebutton{
float: left;
    padding: 15px;
}
.navButtons{
    float: right;
    padding:15px;
}
.nav {
    font-family: Arial;
    font-size: 25px;
    background-color: white;
    position: fixed;
    top: 0;
    width:100%;
    left: 0%;
}
.info {
    text-align: center; 
    padding-top: 100px; 
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
img{
    display:block;
    margin-left: 41%;
    width: 15%;
    height: auto;
}
.languages{
    border-style:solid;
    background-color: white;
    padding: 10px;
    float: left;
    margin: 1%;
    text-align: center;
}
  .lan_pic{
    height: 100px;
    width:100px;
  }